In [2]:
!pip3 install pandas

Collecting pandas
  Downloading pandas-2.0.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
     |████████████████████████████████| 12.3 MB 7.4 MB/s eta 0:00:01    |███▌                            | 1.3 MB 7.4 MB/s eta 0:00:02
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     |████████████████████████████████| 502 kB 13.2 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in /usr/local/lib/python3.8/dist-packages (from pandas) (1.23.4)
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     |████████████████████████████████| 341 kB 13.0 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.14.0)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.0.0 pytz-2023.3 tzdata-2023.3
WARNING: You are using pip version 20.2.4; however, version 23.1 is available.
You should consider upgrading via the '/usr/bin/python3 -m pip install --upgrade pip' command.

# import

In [42]:
import random
import pandas as pd
import numpy as np

# create datset

In [49]:
synthetic_data_train_np = np.random.rand(10000, 4)
synthetic_data_test_np = np.random.rand(1000, 4)

for i, _ in enumerate(synthetic_data_train_np):
    synthetic_data_train_np[i][3] = random.randrange(2)

for i, _ in enumerate(synthetic_data_test_np):
    synthetic_data_test_np[i][3] = random.randrange(2)
    
print("synthetic_data_train_np : ", synthetic_data_train_np.shape)
print("synthetic_data_test_np : ", synthetic_data_test_np.shape)

synthetic_data_train_np :  (10000, 4)
synthetic_data_test_np :  (1000, 4)

In [50]:
synthetic_data_train_np[:10]

array([[0.86110632, 0.47387235, 0.77857471, 1.        ],
       [0.15742673, 0.92147331, 0.47501194, 0.        ],
       [0.87604649, 0.55033639, 0.96583075, 0.        ],
       [0.16516605, 0.04134314, 0.09073377, 1.        ],
       [0.21745948, 0.13802643, 0.892639  , 1.        ],
       [0.03853996, 0.61477779, 0.25051948, 1.        ],
       [0.95122351, 0.55742008, 0.93659261, 0.        ],
       [0.48021947, 0.55022466, 0.67366649, 0.        ],
       [0.49045325, 0.83326576, 0.01110606, 1.        ],
       [0.63880068, 0.71006033, 0.40992213, 0.        ]])

In [58]:
train_df = pd.DataFrame(synthetic_data_train_np, columns = ['x', 'y', 'z','class'])
test_df = pd.DataFrame(synthetic_data_test_np, columns = ['x', 'y', 'z','class'])

train_df = train_df.astype({'class':'int'})
test_df = test_df.astype({'class':'int'})

In [61]:
train_df

             x         y         z  class
0     0.861106  0.473872  0.778575      1
1     0.157427  0.921473  0.475012      0
2     0.876046  0.550336  0.965831      0
3     0.165166  0.041343  0.090734      1
4     0.217459  0.138026  0.892639      1
...        ...       ...       ...    ...
9995  0.300829  0.656486  0.476066      0
9996  0.250660  0.353941  0.571227      1
9997  0.170470  0.637514  0.518510      0
9998  0.166176  0.955854  0.923899      1
9999  0.314155  0.984580  0.514088      0

[10000 rows x 4 columns]